# Openpyxl

In [19]:
from openpyxl import Workbook

# 엑셀파일 쓰기
ws = Workbook()

# 이름이 있는 시트를 생성
ws1 = ws.create_sheet('시트1')
ws2 = ws.create_sheet('시트2', 1)

# 시트1에다 입력
ws1 = ws.active
ws1['A1'] = '숫자'

# 시트1 행 단위로 추가
ws1.append([1, 2, 3, 4, 110])

# 시트2에다 입력
ws2['A1'] = '문자'

# 시트2 행 단위로 추가
ws2.append(['가', '나', '다', '라', '마'])

#셀 단위로 추가
ws1.cell(5, 5, '5행 5열')   # 셀 단위는 0이 아닌 1부터 시작
ws2.cell(3, 1, '3행 1열')
ws.save("./data/test.xlsx")

In [2]:
import pandas as pd

df = pd.read_csv('./data/korean-idol.csv', encoding='utf-8', low_memory=False)
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [ ]:
from openpyxl import Workbook

ws = Workbook()

In [4]:
df.loc[df.소속사.apply(lambda x: x == "플레디스")]

    이름    그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
6   민현  뉴이스트  플레디스  남자  1995-08-09  182.3   O  4989792
12  백호  뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13  JR  뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137

In [14]:
korean_idol = df.values.tolist()

for row in korean_idol:
    ws1.append(row)

ws.save("./data/test.xlsx")

'지민'